# Git
.git
.gitignore
.github
.gitattributes

# Docker
.dockerignore
Dockerfile
prod.Dockerfile
docker-compose.yml
docker-compose.local.yml
nginx
rabbitmq

# Other
.idea

# Python
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
.env/
.venv/
venv/

# Exclude .log files under DjangoHome/Logs
DjangoHome/Logs/*.log