version: '3'
services:
  nginx:
    build:
      context: ./nginx
      dockerfile: ./nginx.Dockerfile
    volumes:
      - api_static:/DjangoHome/static
      - ui_static:/usr/share/nginx/html
      - nginx_logs:/var/log/nginx
    restart: always
    ports:
      - "80:80"
    logging:   
      driver: "json-file"  
      options:
        max-size: "1m"     
        max-file: "3"
    depends_on:
      - ui
      - api
      - rabbitmq
  rabbitmq:
    image: lkiran/rabbit-home:win-20042023
    restart: always
    hostname: home-rabbit
    ports:
      - "1883:1883"
      - "15672:15672"
      - "15692:15692"
    logging:   
      driver: "json-file"  
      options:
        max-size: "1m"     
        max-file: "3"
    volumes:
      - rabbit_data:/var/lib/rabbitmq/
      - rabbit_logs:/var/log/rabbitmq/
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
  api:
    image: lkiran/django-home:win-13072025
    command: python manage.py runserver 0.0.0.0:8000 --noreload
    volumes:
      - api_static:/DjangoHome/static
      - api_logs:/DjangoHome/Logs
      - api_db:/DjangoHome/data
    restart: always
    ports:
      - "8000:8000"
      - "5678:5678"
    environment:
      - SECRET_KEY=aa59e3e2-b398-4170-85d8-ef91c2315514
      - ENABLE_FILE_LOGGING=1
      - START_DEVICES=1
      - DEBUG=0
    depends_on:
      - rabbitmq
  ui:
    image: lkiran/ng-home:13072025
    ports:
      - "8080:80"
    volumes:
      - ui_static:/usr/share/nginx/html
  elasticsearch:
    image: elasticsearch:8.15.1
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - discovery.type=single-node
      - xpack.license.self_generated.type=BASIC
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
    mem_limit: 1g
  logstash:
    image: logstash:8.15.1
    volumes:
      - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf
      - ./logstash.yml:/usr/share/logstash/config/logstash.yml:ro
      - api_logs:/DjangoHome/Logs
      - nginx_logs:/Nginx/Logs
    environment:
      - "LS_JAVA_OPTS=-Xmx256m -Xms256m"
    ports:
      - "5044:5044"
  kibana:
    image: kibana:8.15.1
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    ports:
      - "5601:5601"
 
   
volumes:
  api_static:
  api_logs:
  api_db:
  rabbit_data:
  rabbit_logs:
  ui_static:
  nginx_logs: